<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div>
            <p>
                <a href="~">Learn Angular JS</a>
            </p>
        </div>
        <div>
            <ul>
                <li>@Html.ActionLink("Employee","Employee","Home")  </li>
                 <li>@Html.ActionLink("UserDetails","UserDetails","Home")  </li>
            </ul>
        </div>
    </header>
    <!-- Render Body is like Content place holder in aspx -->
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>

<li>@Html.ActionLink("SingUp","Index","Home")  </li>